@charset "UTF-8";
/* line 1, ../sass/_config.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/*Fuentes*/
/* line 5, ../sass/_base.scss */
.m-xs-top {
  margin-top: 5px;
}

/* line 9, ../sass/_base.scss */
.m-s-top {
  margin-top: 10px;
}

/* line 13, ../sass/_base.scss */
.m-mtop {
  margin-top: 15px;
}

/* line 17, ../sass/_base.scss */
.m-l-top {
  margin-top: 20px;
}

/* line 21, ../sass/_base.scss */
.m-xl-top {
  margin-top: 30px;
}

/* line 25, ../sass/_base.scss */
.m-xs-bottom {
  margin-bottom: 5px;
}

/* line 29, ../sass/_base.scss */
.m-s-bottom {
  margin-bottom: 10px;
}

/* line 33, ../sass/_base.scss */
.m-m-bottom {
  margin-top: 15px;
}

/* line 37, ../sass/_base.scss */
.m-l-bottom {
  margin-bottom: 20px;
}

/* line 41, ../sass/_base.scss */
.m-xl-bottom {
  margin-bottom: 30px;
}

/* line 45, ../sass/_base.scss */
.m-left-xs {
  margin-left: 5px;
}

/* line 49, ../sass/_base.scss */
.m-left {
  margin-left: 10px;
}

/* line 53, ../sass/_base.scss */
.m-left-l {
  margin-left: 20px;
}

/* line 57, ../sass/_base.scss */
.m-left-xl {
  margin-left: 40px;
}

/* line 61, ../sass/_base.scss */
.m-right-xs {
  margin-right: 5px;
}

/* line 65, ../sass/_base.scss */
.m-right {
  margin-right: 10px;
}

/* line 69, ../sass/_base.scss */
.m-right-l {
  margin-right: 20px;
}

/* line 73, ../sass/_base.scss */
.m-right-xl {
  margin-right: 40px;
}

/* line 77, ../sass/_base.scss */
.no-m-top {
  margin-top: 0;
}

/* line 81, ../sass/_base.scss */
.no-m-bottom {
  margin-bottom: 0;
}

/* line 91, ../sass/_base.scss */
.p-xs-top {
  padding-top: 5px;
}

/* line 95, ../sass/_base.scss */
.p-s-top {
  padding-top: 10px;
}

/* line 99, ../sass/_base.scss */
.p-m-top {
  padding-top: 15px;
}

/* line 103, ../sass/_base.scss */
.p-l-top {
  padding-top: 20px;
}

/* line 107, ../sass/_base.scss */
.p-xl-top {
  padding-top: 30px;
}

/* line 111, ../sass/_base.scss */
.p-xxl-top {
  padding-top: 40px;
}

/* line 115, ../sass/_base.scss */
.p-xs-bottom {
  padding-bottom: 5px;
}

/* line 119, ../sass/_base.scss */
.p-s-bottom {
  padding-bottom: 10px;
}

/* line 123, ../sass/_base.scss */
.p-m-bottom {
  padding-bottom: 15px;
}

/* line 127, ../sass/_base.scss */
.p-l-bottom {
  padding-bottom: 20px;
}

/* line 131, ../sass/_base.scss */
.p-xl-bottom {
  padding-bottom: 30px;
}

/* line 135, ../sass/_base.scss */
.p-left-xs {
  padding-left: 5px;
}

/* line 139, ../sass/_base.scss */
.p-left {
  padding-left: 10px;
}

/* line 143, ../sass/_base.scss */
.p-left-l {
  padding-left: 20px !important;
}

/* line 147, ../sass/_base.scss */
.p-left-xl {
  padding-left: 40px;
}

/* line 151, ../sass/_base.scss */
.p-right-xs {
  padding-right: 5px;
}

/* line 155, ../sass/_base.scss */
.p-right {
  padding-right: 10px;
}

/* line 159, ../sass/_base.scss */
.p-right-l {
  padding-right: 20px;
}

/* line 163, ../sass/_base.scss */
.p-right-xl {
  padding-right: 40px;
}

/* line 167, ../sass/_base.scss */
.no-p-right {
  padding-right: 0px;
}

/* line 171, ../sass/_base.scss */
.no-p-left {
  padding-left: 0px;
}

/* line 175, ../sass/_base.scss */
.no-p-lat {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 185, ../sass/_base.scss */
.lh-s {
  line-height: 24px;
}

/* line 194, ../sass/_base.scss */
.noscroll {
  overflow: hidden;
}

/* line 198, ../sass/_base.scss */
.uppc {
  text-transform: uppercase;
}

/* line 202, ../sass/_base.scss */
.fwlight {
  font-weight: lighter;
}

/* line 206, ../sass/_base.scss */
.fwnormal {
  font-weight: normal;
}

/* line 210, ../sass/_base.scss */
.fwbold {
  font-weight: bold;
}

/* line 214, ../sass/_base.scss */
.click {
  cursor: pointer;
}

/* line 218, ../sass/_base.scss */
.displayb {
  display: block;
}

/* line 222, ../sass/_base.scss */
.displayib {
  display: inline-block;
}

/* line 226, ../sass/_base.scss */
.clearb {
  clear: both;
}

/* line 230, ../sass/_base.scss */
.overfh {
  overflow: hidden;
}

/* line 234, ../sass/_base.scss */
.txt-ind {
  text-indent: -9999px !important;
}

/* line 238, ../sass/_base.scss */
.txt-c {
  text-align: center;
}

/* line 242, ../sass/_base.scss */
.txt-ar {
  text-align: right;
}

/* line 246, ../sass/_base.scss */
.txt-al {
  text-align: left;
}

/* line 250, ../sass/_base.scss */
.hddn {
  display: none;
}

/* line 254, ../sass/_base.scss */
.visib {
  visibility: visible;
}

/* line 258, ../sass/_base.scss */
.nvisib  {
  visibility: hidden;
  top: -9999px;
}

/* line 263, ../sass/_base.scss */
.opac {
  opacity: 1 !important;
}

/* line 268, ../sass/_base.scss */
.nopac {
  opacity: 0 !important;
}

/* line 272, ../sass/_base.scss */
.c-obj {
  margin: 0 auto !important;
}

/* line 276, ../sass/_base.scss */
.no-format {
  text-decoration: none;
  font-weight: normal;
}

/* line 281, ../sass/_base.scss */
.no-radius {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/* line 287, ../sass/_base.scss */
.n-outl {
  outline: none !important;
}

/* line 291, ../sass/_base.scss */
.br-inside {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 302, ../sass/_base.scss */
.fleft {
  float: left;
}

/* line 306, ../sass/_base.scss */
.fright {
  float: right;
}

/* line 310, ../sass/_base.scss */
.r-pos {
  position: relative;
}

/* line 314, ../sass/_base.scss */
.a-pos {
  position: absolute;
}

/* line 323, ../sass/_base.scss */
.w100 {
  width: 100%;
}

/* line 327, ../sass/_base.scss */
.w100vw {
  width: 100vw;
}

/* line 331, ../sass/_base.scss */
.w90 {
  width: 90%;
}

/* line 335, ../sass/_base.scss */
.w80 {
  width: 80%;
}

/* line 339, ../sass/_base.scss */
.w80vw {
  width: 80vw;
}

/* line 343, ../sass/_base.scss */
.w70 {
  width: 69.8%;
}

/* line 347, ../sass/_base.scss */
.w45 {
  width: 45% !important;
}

/* line 351, ../sass/_base.scss */
.w33 {
  width: 32.3% !important;
}

/* line 355, ../sass/_base.scss */
.w33f {
  width: -moz-calc(32%);
  width: calc(32%);
}
@media (min-width: 480px) {
  /* line 355, ../sass/_base.scss */
  .w33f {
    width: calc(32.3%);
  }
}
@media (min-width: 768px) {
  /* line 355, ../sass/_base.scss */
  .w33f {
    width: calc(32.9%);
  }
}
@media (min-width: 992px) {
  /* line 355, ../sass/_base.scss */
  .w33f {
    width: calc(33%);
  }
}

/* line 373, ../sass/_base.scss */
.w30 {
  width: 30% !important;
}

/* line 377, ../sass/_base.scss */
.w20 {
  width: 20%;
}

/* line 381, ../sass/_base.scss */
.w10 {
  width: 10%;
}

/* line 385, ../sass/_base.scss */
.w50 {
  width: 49%;
}

/* line 392, ../sass/_base.scss */
.h100 {
  height: 100%;
}

/* line 396, ../sass/_base.scss */
.h61px {
  height: 61px !important;
}

/* line 400, ../sass/_base.scss */
.h62px {
  height: 62px !important;
}

/* line 409, ../sass/_base.scss */
.cinput-w100 {
  width: 100%;
}

/* line 413, ../sass/_base.scss */
.cinput-w90 {
  width: 90%;
}

/* line 417, ../sass/_base.scss */
.cinput-w80 {
  width: 80%;
}

/* line 421, ../sass/_base.scss */
.cinput-w75 {
  width: 74.3%;
}

/* line 425, ../sass/_base.scss */
.cinput-w60 {
  width: 59%;
}

/* line 429, ../sass/_base.scss */
.cinput-w50 {
  width: 49.2%;
}

/* line 433, ../sass/_base.scss */
.cinput-w49 {
  width: 49%;
}

/* line 437, ../sass/_base.scss */
.cinput-w40 {
  width: 40%;
}

/* line 441, ../sass/_base.scss */
.cinput-w25 {
  width: 25%;
}

/* line 445, ../sass/_base.scss */
.cinput-w20 {
  width: 20%;
}

/* line 449, ../sass/_base.scss */
.cinput-w33 {
  width: 33%;
}

/* line 460, ../sass/_base.scss */
.txt-xxs {
  font-size: 0.5em;
}

/* line 464, ../sass/_base.scss */
.txt-xs {
  font-size: 0.625em;
}

/* line 468, ../sass/_base.scss */
.txt-s {
  font-size: 0.750em;
}

/* line 472, ../sass/_base.scss */
.txt-m {
  font-size: 0.875em;
}

/* line 476, ../sass/_base.scss */
.txt-l {
  font-size: 1.286em;
}

/* line 480, ../sass/_base.scss */
.txt-l-res {
  font-size: 0.875em;
}
@media (min-width: 992px) {
  /* line 480, ../sass/_base.scss */
  .txt-l-res {
    font-size: 1.286em;
  }
}

/* line 487, ../sass/_base.scss */
.txt-xl {
  font-size: 1.375em;
}

/* line 491, ../sass/_base.scss */
.txt-xxl {
  font-size: 1.5em;
}

/* line 495, ../sass/_base.scss */
.txt-small {
  font-size: 1.8em;
}

/* line 499, ../sass/_base.scss */
.txt-med {
  font-size: 2em;
}

/* line 503, ../sass/_base.scss */
.txt-big {
  font-size: 2.5em;
}

/* line 507, ../sass/_base.scss */
.txt-xbig {
  font-size: 3em;
}

/* line 516, ../sass/_base.scss */
.cb-top-1 {
  border-top: 2px solid #ECF0F1;
}

/* line 520, ../sass/_base.scss */
.cb-bottom-1 {
  border-bottom: 2px solid #ECF0F1;
}

/* line 525, ../sass/_base.scss */
.cb-top-2 {
  border-top: 1px solid #D6DBDC;
}

/* line 529, ../sass/_base.scss */
.cb-bottom-2 {
  border-bottom: 1px solid #D6DBDC;
}

/* line 533, ../sass/_base.scss */
.cb-bottom-lh {
  border-bottom: 1px solid #f0f0f0;
}

/* line 537, ../sass/_base.scss */
.cb-left-2 {
  border-left: 1px solid #D6DBDC;
}

/* line 541, ../sass/_base.scss */
.cb-right-2 {
  border-right: 1px solid #D6DBDC;
}

/* line 545, ../sass/_base.scss */
.cb-right-3 {
  border-right: 1px solid #FFFFFF;
}

/* line 549, ../sass/_base.scss */
.cb-left-4 {
  border-left: 3px solid #D6DBDC;
}

/* line 553, ../sass/_base.scss */
.no-border-top {
  border-top: 0px;
}

/* line 557, ../sass/_base.scss */
.no-border-bottom {
  border-bottom: 0px;
}

/* line 561, ../sass/_base.scss */
.no-border-right {
  border-right: 0px;
}

/* line 565, ../sass/_base.scss */
.no-border {
  border: 0px;
}

/* line 575, ../sass/_base.scss */
.cprimary {
  color: #79B042;
}

/* line 579, ../sass/_base.scss */
.csecondary  {
  color: #C38089;
}

/* line 583, ../sass/_base.scss */
.copposite  {
  color: #C38089;
}

/* line 587, ../sass/_base.scss */
.c-contrast {
  color: #fff;
}

/* line 591, ../sass/_base.scss */
.c-check {
  color: #44DB5E;
}

/* line 595, ../sass/_base.scss */
.c-error {
  color: #E74C3C;
}

/* line 599, ../sass/_base.scss */
.c-g100 {
  color: #000;
}

/* line 603, ../sass/_base.scss */
.c-g80 {
  color: #333;
}

/* line 607, ../sass/_base.scss */
.c-g60 {
  color: #666;
}

/* line 611, ../sass/_base.scss */
.c-g50 {
  color: #7F7F7F;
}

/* line 615, ../sass/_base.scss */
.c-g40 {
  color: #999;
}

/* line 619, ../sass/_base.scss */
.c-g30 {
  color: #B2B2B2;
}

/* line 623, ../sass/_base.scss */
.c-g20 {
  color: #CCC;
}

/* line 627, ../sass/_base.scss */
.c-g10 {
  color: #F0F0F0;
}

/* line 631, ../sass/_base.scss */
.c-g05 {
  color: #F2F2F2;
}

/* line 635, ../sass/_base.scss */
.c-bg-10 {
  background-color: #F0F0F0;
}

/* line 639, ../sass/_base.scss */
.c-bg-05 {
  background-color: #F2F2F2;
}

/* line 643, ../sass/_base.scss */
.c-bg-10 {
  background-color: #F0F0F0;
}

/* line 647, ../sass/_base.scss */
.c-bg-contrast {
  background-color: #fff;
}

/* line 655, ../sass/_base.scss */
.bg-readliness {
  background-color: #F1C40F;
}

/* line 659, ../sass/_base.scss */
.bg-implementation {
  background-color: #92EFDA;
}

/* line 663, ../sass/_base.scss */
.bg-impact {
  background-color: #CB97F9;
}

/* line 667, ../sass/_base.scss */
.br-left-readliness {
  border-left: 4px solid #F1C40F;
}

/* line 671, ../sass/_base.scss */
.br-left-implementation {
  border-left: 4px solid #92EFDA;
}

/* line 675, ../sass/_base.scss */
.br-left-impact {
  border-left: 4px solid #CB97F9;
}

/* line 1, ../sass/_layout.scss */
.body-default  {
  position: relative;
}

/* line 5, ../sass/_layout.scss */
.wrapper-header {
  padding-top: 110px;
  min-height: 350px;
  position: relative;
}
@media (min-width: 480px) {
  /* line 5, ../sass/_layout.scss */
  .wrapper-header {
    min-height: 400px;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/_layout.scss */
  .wrapper-header {
    min-height: 650px;
  }
}

/* line 23, ../sass/_layout.scss */
#wrapper-map {
  height: 250px;
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  /* line 23, ../sass/_layout.scss */
  #wrapper-map {
    height: 400px;
  }
}
@media (min-width: 992px) {
  /* line 23, ../sass/_layout.scss */
  #wrapper-map {
    height: 650px;
  }
}

/* line 36, ../sass/_layout.scss */
.wrapper-table {
  position: relative;
}

/* line 40, ../sass/_layout.scss */
#column-graph {
  height: 410px;
}

/* line 44, ../sass/_layout.scss */
.top-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  padding: 20px;
}

/* line 54, ../sass/_layout.scss */
.country-area {
  min-height: 470px;
}

/* line 58, ../sass/_layout.scss */
.country-area-empty {
  min-height: 490px;
  width: 100%;
}

/* line 3, ../sass/_m-3parties.scss */
.dataTables_filter {
  padding: 17px 20px 10px 0px;
}

/* line 7, ../sass/_m-3parties.scss */
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-right: 5px !important;
}

/* line 11, ../sass/_m-3parties.scss */
table.dataTable thead .sorting::after, .sorting_asc::after, .sorting_desc::after {
  top: 25px;
}

/* line 15, ../sass/_m-3parties.scss */
table.dataTable thead .sorting::after {
  content: '';
  background-image: url("../img/ico-order-reset.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 11px;
  height: 28px;
}

/* line 24, ../sass/_m-3parties.scss */
table.dataTable thead .sorting_asc::after {
  content: '';
  background-image: url("../img/ico-order-asc.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 11px;
  height: 28px;
}

/* line 34, ../sass/_m-3parties.scss */
table.dataTable thead .sorting_desc::after {
  content: '';
  background-image: url("../img/ico-order-desc.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 11px;
  height: 28px;
}

/* line 45, ../sass/_m-3parties.scss */
.owl-carousel .owl-item img {
  width: auto !important;
}

/* line 49, ../sass/_m-3parties.scss */
.owl-dots {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  text-align: center;
}

/* line 60, ../sass/_m-3parties.scss */
.owl-dots .owl-dot {
  margin: 0px 3px;
  width: 14px;
  height: 14px;
  border-radius: 50em;
  display: inline-block;
  background-color: #CCC;
}

/* line 73, ../sass/_m-3parties.scss */
.owl-dots .owl-dot.active {
  background-color: #79B042;
}

/* line 77, ../sass/_m-3parties.scss */
.owl-nav {
  position: absolute;
  top: 30px;
  width: 100%;
}

/* line 83, ../sass/_m-3parties.scss */
.owl-nav .owl-prev {
  background-image: url("../img/_svg/aleft.svg");
  background-position: center center;
  display: block;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  position: absolute;
  left: 0px;
}

/* line 94, ../sass/_m-3parties.scss */
.owl-nav .owl-next {
  background-image: url("../img/_svg/aright.svg");
  background-position: center center;
  display: block;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  position: absolute;
  right: 0px;
}

/* line 105, ../sass/_m-3parties.scss */
.owl-nav .disabled {
  opacity: .2;
  cursor: disabled;
}

/* line 111, ../sass/_m-3parties.scss */
.adj-txt-country-autoc {
  position: relative;
  top: -5px;
  left: 5px;
  display: inline-block;
}

/* line 118, ../sass/_m-3parties.scss */
.adj-img-flag-ac {
  position: relative;
  top: 2px !important;
}

/*El plugin establece un width dinámico que hay que ajustar a auto para que no de problemas con la parte responsive*/
/* line 124, ../sass/_m-3parties.scss */
.easy-autocomplete {
  width: auto !important;
}

/* line 1, ../sass/_m-modal-detail.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
  overflow-y: scroll;
}

/* line 23, ../sass/_m-modal-detail.scss */
.overlay-open {
  opacity: 1;
  visibility: visible;
}

/* line 28, ../sass/_m-modal-detail.scss */
.cmodal {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 50;
  transform: translate(-50%, 100%);
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease-out;
}
@media (min-width: 768px) {
  /* line 28, ../sass/_m-modal-detail.scss */
  .cmodal {
    width: 90%;
  }
}

/* line 53, ../sass/_m-modal-detail.scss */
.cmodal-detail {
  height: 90%;
}

/* line 58, ../sass/_m-modal-detail.scss */
.cmodal-detail-open {
  bottom: 0;
  visibility: visible;
  transform: translate(-50%, 0);
  opacity: 1;
}

/* line 66, ../sass/_m-modal-detail.scss */
.cmodal-d-global {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  padding-bottom: 160px;
}

/*.adj-img-ca-h {
	margin-top:-15px;
}*/
/* line 77, ../sass/_m-modal-detail.scss */
.ilist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 83, ../sass/_m-modal-detail.scss */
.cm-h-rdata {
  padding-left: 0px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  /* line 83, ../sass/_m-modal-detail.scss */
  .cm-h-rdata {
    padding-left: 40px;
    padding-top: 10px;
  }
}

/* line 93, ../sass/_m-modal-detail.scss */
.il-item {
  display: inline-block;
  float: left;
}

/* line 98, ../sass/_m-modal-detail.scss */
.il-item-resp {
  display: block;
  padding-left: 0px;
  text-align: center;
  padding: 10px 0px;
}
@media (min-width: 768px) {
  /* line 98, ../sass/_m-modal-detail.scss */
  .il-item-resp {
    display: inline-block;
    float: left;
    padding: 10px 20px 10px 20px;
  }
}

/* line 111, ../sass/_m-modal-detail.scss */
.wrapper-pspider {
  min-height: 576px;
  position: relative;
}

/* line 116, ../sass/_m-modal-detail.scss */
.bg-pspider {
  background-color: rgba(239, 239, 239, 0.2);
}

/* line 123, ../sass/_m-modal-detail.scss */
.ca-header {
  display: block;
  width: 100%;
}

/* line 128, ../sass/_m-modal-detail.scss */
.md-h-nav {
  display: block;
  padding: 5px;
  cursor: pointer;
  top: 10px;
}

/* line 135, ../sass/_m-modal-detail.scss */
.md-h-removec {
  left: -14px;
  border-radius: 50em;
  background-color: #E74C3C;
  height: 23px;
  width: 23px;
  line-height: 6px;
  text-align: center;
  top: 6px;
  color: #fff;
  z-index: 10;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

/* line 152, ../sass/_m-modal-detail.scss */
.md-h-arrow-right {
  right: 0px;
}

/* line 156, ../sass/_m-modal-detail.scss */
.md-h-arrow-left {
  left: 0px;
}

/* line 160, ../sass/_m-modal-detail.scss */
.no-country-select {
  width: 290px;
  height: 210px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 172, ../sass/_m-modal-detail.scss */
.flag-md, .flag-md-small {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: relative;
  border-radius: 50em;
  background-color: #efefef;
  top: -2px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 184, ../sass/_m-modal-detail.scss */
.flag-md-small {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}

/* line 193, ../sass/_m-modal-detail.scss */
.indicator-cover {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #79B042;
  overflow: hidden;
}

/* line 202, ../sass/_m-modal-detail.scss */
.indicator-cover:after {
  content: '';
  position: absolute;
  right: -6px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-top: solid 10px #79B042;
  border-left: solid 10px #fff;
  border-right: solid 10px #fff;
  transform: rotate(-90deg);
}

/* line 215, ../sass/_m-modal-detail.scss */
.indicator-st {
  position: absolute;
  bottom: -20px;
}

/* line 220, ../sass/_m-modal-detail.scss */
.i-init {
  left: 0;
}

/* line 224, ../sass/_m-modal-detail.scss */
.i-end {
  right: 0;
}

/* line 229, ../sass/_m-modal-detail.scss */
.indicator-progress {
  background-color: #73E500;
  height: 20px;
}

/* line 234, ../sass/_m-modal-detail.scss */
.ca-content {
  min-height: 300px;
}

/* line 238, ../sass/_m-modal-detail.scss */
.leg {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50em;
  background-color: #ededed;
}

/* line 246, ../sass/_m-modal-detail.scss */
.leg-odb {
  background-color: #4A4A4A;
}

/* line 249, ../sass/_m-modal-detail.scss */
.leg-readliness {
  background-color: #F1C40F;
}

/* line 252, ../sass/_m-modal-detail.scss */
.leg-implementation {
  background-color: #92EFDA;
}

/* line 255, ../sass/_m-modal-detail.scss */
.leg-impact {
  background-color: #CB97F9;
}

/* line 259, ../sass/_m-modal-detail.scss */
.global-content-indicators {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 160px;
  transition: max-height 1s ease-in;
  background-color: #fff;
  z-index: 100;
}

/* line 270, ../sass/_m-modal-detail.scss */
.gci-mnu-item {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border-bottom: 1px solid #D6DBDC;
  color: #999;
}

/* line 277, ../sass/_m-modal-detail.scss */
.gci-mnu-item-ac {
  border-bottom: 1px solid #fff;
  color: #000;
}

/*.gci-content {
	max-height: 120px;
	overflow-y:scroll;
	transition: max-height 1s ease-in;
	background-color: $ccontrast;
}*/
/* line 289, ../sass/_m-modal-detail.scss */
.cgi-c-expanded {
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* line 300, ../sass/_m-modal-detail.scss */
.cth-md, .ctd-md {
  padding: 0.5em 0.5em;
}

/* line 304, ../sass/_m-modal-detail.scss */
.ctd-md {
  border-left: 1px solid #f0f0f0;
}

/* line 308, ../sass/_m-modal-detail.scss */
.data-i {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
}

/* line 314, ../sass/_m-modal-detail.scss */
.data-i-round {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50em;
}

/* line 321, ../sass/_m-modal-detail.scss */
.data-i-comp {
  background-color: #B8E986;
}

/* line 325, ../sass/_m-modal-detail.scss */
.data-i-incomp {
  background-color: #FF8787;
}

.data-i-updated {
  background-color: #F8E71C;
}

/* line 2, ../sass/_m-generales.scss */
.fmerriw {
  font-family: 'Merriweather', serif;
}

/* line 5, ../sass/_m-generales.scss */
.fosc {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 11, ../sass/_m-generales.scss */
.header-acc-buttons {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -96px;
  z-index: 20;
}

/* line 19, ../sass/_m-generales.scss */
.cbtn-acc-h {
  display: block;
  width: 64px;
  height: 64px;
  background-color: #fff;
  margin-top: 2px;
}

/* line 30, ../sass/_m-generales.scss */
.count-filters {
  border-radius: 50em;
  width: 24px;
  height: 24px;
  background-color: #79B042;
  line-height: 25px;
  text-align: center;
  color: #fff;
  position: relative;
  top: -10px;
}

@-moz-document url-prefix() {
  /* line 44, ../sass/_m-generales.scss */
  .count-filters {
    line-height: 23px;
  }
}
/* line 49, ../sass/_m-generales.scss */
.bg-selected {
  border-top: 4px solid #FFEC00;
}

/* line 53, ../sass/_m-generales.scss */
.bg-section {
  background-color: #F3F3F3;
}

/* line 57, ../sass/_m-generales.scss */
.bg-highlights {
  background-color: #FFEC00;
}

/* line 61, ../sass/_m-generales.scss */
.bg-hero-map {
  background-color: rgba(84, 199, 252, 0.2);
}

/* line 65, ../sass/_m-generales.scss */
.top-filters {
  background-color: #fff;
}

/* line 69, ../sass/_m-generales.scss */
.list-inl {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  list-style-type: none;
}

/* line 77, ../sass/_m-generales.scss */
.item-lin {
  display: inline-block;
}

/* line 81, ../sass/_m-generales.scss */
.leg-region {
  display: inline-block;
  margin-left: 10px;
}

/* line 86, ../sass/_m-generales.scss */
.leg-region:before {
  content: '';
  width: 11px;
  height: 11px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  border-radius: 50em;
  position: relative;
  top: 3px;
}

/* line 105, ../sass/_m-generales.scss */
.leg-region.leg-r-1:before {
  background-color: #FF3700;
}

/* line 109, ../sass/_m-generales.scss */
.leg-region.leg-r-2:before {
  background-color: #7E85AF;
}

/* line 113, ../sass/_m-generales.scss */
.leg-region.leg-r-3:before {
  background-color: #0C5D8E;
}

/* line 117, ../sass/_m-generales.scss */
.leg-region.leg-r-4:before {
  background-color: #8D9B00;
}

/* line 121, ../sass/_m-generales.scss */
.leg-region.leg-r-5:before {
  background-color: #8B572A;
}

/* line 125, ../sass/_m-generales.scss */
.leg-region.leg-r-6:before {
  background-color: #00B3D7;
}

/* line 129, ../sass/_m-generales.scss */
.leg-region.leg-r-7:before {
  background-color: #BD10E0;
}

/* line 135, ../sass/_m-generales.scss */
.cover-help {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 29px;
  background-color: #73E500;
  border-radius: 50px;
  display: inline-block;
}

/* line 145, ../sass/_m-generales.scss */
.th-main {
  background-color: #79B042;
  color: #fff;
  border-bottom: 4px solid #73E500;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

/* line 152, ../sass/_m-generales.scss */
.ct-th, .ct-td {
  padding: 1em 0.6em;
  border-bottom: 1px solid #F0F0F0;
}

/* line 157, ../sass/_m-generales.scss */
.ct-th {
  border-right: 1px solid #73E500;
}

/* line 161, ../sass/_m-generales.scss */
.ct-th-st, .ct-td-st {
  display: block;
  font-weight: normal;
}

/* line 166, ../sass/_m-generales.scss */
.flag, .flag-md-header {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50em;
  overflow: hidden;
  margin-right: 5px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 179, ../sass/_m-generales.scss */
.flag-md-header {
  width: 32px;
  height: 32px;
}

/* line 185, ../sass/_m-generales.scss */
.ct-country {
  display: inline-block;
}

/* line 189, ../sass/_m-generales.scss */
.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #44DB5E;
  position: relative;
  top: -8px;
}

/* line 204, ../sass/_m-generales.scss */
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FF3824;
  position: relative;
  top: -8px;
}

/* line 219, ../sass/_m-generales.scss */
.data-sp {
  position: relative;
  top: -2px;
}

/* line 224, ../sass/_m-generales.scss */
.data-readiness {
  color: #F1C40F;
}

/* line 228, ../sass/_m-generales.scss */
.data-implementation {
  color: #92EFDA;
}

/* line 232, ../sass/_m-generales.scss */
.data-impact {
  color: #CB97F9;
}

/* line 3, ../sass/_m-formularios.scss */
.cbtn, .ctn-icon {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  border: none;
  background: transparent;
  outline: 0 none !important;
}
/* line 25, ../sass/_m-formularios.scss */
.cbtn:hover, .ctn-icon:hover, .cbtn:active, .ctn-icon:active, .cbtn:focus, .ctn-icon:focus, .cbtn:visited, .ctn-icon:visited {
  text-decoration: none;
}

/* line 31, ../sass/_m-formularios.scss */
.ctn-icon {
  line-height: 15px !important;
}

/* line 37, ../sass/_m-formularios.scss */
.cbtn-search {
  height: 45px;
}

/* line 41, ../sass/_m-formularios.scss */
.cbtn-block {
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 47, ../sass/_m-formularios.scss */
  .cbtn, .ctn-icon {
    line-height: 45px;
  }
}
/* line 52, ../sass/_m-formularios.scss */
.cbtn-corner {
  border-radius: 4px;
}

/* line 56, ../sass/_m-formularios.scss */
.cbtn-round {
  border-radius: 50em;
}

/* line 60, ../sass/_m-formularios.scss */
.cbtn-round-st {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

/* line 66, ../sass/_m-formularios.scss */
.cbtn-adj-ico-rst-med {
  position: relative;
  top: 6px;
  left: -5px;
}

/* line 72, ../sass/_m-formularios.scss */
.cbtn-st-pos-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 30;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.3);
}

/* line 81, ../sass/_m-formularios.scss */
.cbtn-rounded {
  border-radius: 50px;
}

/* line 85, ../sass/_m-formularios.scss */
.cbtn-line {
  border: 2px solid;
}

/* line 92, ../sass/_m-formularios.scss */
.cbtn-l-acc {
  border-color: #79B042;
  color: #79B042;
}
/* line 95, ../sass/_m-formularios.scss */
.cbtn-l-acc:hover, .cbtn-l-acc:focus, .cbtn-l-acc:active {
  border-color: #93c461;
  background-color: #79B042;
  color: #fff;
}

/* line 102, ../sass/_m-formularios.scss */
.cbtn-l-dis {
  cursor: default;
  border-color: #CCC;
  color: #CCC;
}
/* line 106, ../sass/_m-formularios.scss */
.cbtn-l-dis:hover, .cbtn-l-dis:focus, .cbtn-l-dis:active {
  color: #CCC;
}

/* line 117, ../sass/_m-formularios.scss */
.cbtn-s-sh {
  position: relative;
  top: 10px;
  box-shadow: 0px 2px 1px 0px #356300;
}

/* line 123, ../sass/_m-formularios.scss */
.cbtn-s-acc {
  background-color: #79B042;
  color: #fff;
}
/* line 126, ../sass/_m-formularios.scss */
.cbtn-s-acc:hover, .cbtn-s-acc:focus, .cbtn-s-acc:active {
  color: #fff;
  background-color: #93c461;
}
/* line 130, ../sass/_m-formularios.scss */
.cbtn-s-acc:active {
  /* Rectangle 86 Copy 3: */
  background-color: #608b34;
  box-shadow: inset 0px 3px 1px 0px #396407;
}

/* line 137, ../sass/_m-formularios.scss */
.cbtn-s-succ {
  background-color: #2ECC71;
  color: #fff;
}
/* line 140, ../sass/_m-formularios.scss */
.cbtn-s-succ:hover, .cbtn-s-succ:focus, .cbtn-s-succ:active {
  color: #fff;
  background-color: black;
}

/* line 147, ../sass/_m-formularios.scss */
.cbtn-s-cancel {
  background-color: #F0F0F0;
  color: #666;
}
/* line 150, ../sass/_m-formularios.scss */
.cbtn-s-cancel:hover, .cbtn-s-cancel:focus, .cbtn-s-cancel:active {
  color: #666;
  background-color: #fff;
}

/* line 158, ../sass/_m-formularios.scss */
.cbtn-s-dis {
  cursor: default;
  background-color: #CCC;
  color: #fff;
}
/* line 162, ../sass/_m-formularios.scss */
.cbtn-s-dis:hover, .cbtn-s-dis:focus, .cbtn-s-dis:active {
  background-color: #CCC;
}

/* line 167, ../sass/_m-formularios.scss */
.clbl {
  padding-left: 1em;
}

/* line 173, ../sass/_m-formularios.scss */
.rinput {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  /* line 173, ../sass/_m-formularios.scss */
  .rinput {
    max-width: 300px;
  }
}

/* line 192, ../sass/_m-formularios.scss */
.rinputm {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
  z-index: 10;
}

/* line 212, ../sass/_m-formularios.scss */
.rinput-button {
  display: table-cell;
  vertical-align: bottom;
  white-space: nowrap;
}

/* line 218, ../sass/_m-formularios.scss */
.rinput-button-search {
  width: 48px;
}

/* line 223, ../sass/_m-formularios.scss */
.cinput, .cinput-table-search {
  width: 100%;
  padding: 0.5em 1.2em 0.5em 0.5em;
  display: table-cell;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none !important;
  background: #FFFFFF;
  border: none;
  border-radius: 0px;
}
/* line 244, ../sass/_m-formularios.scss */
.cinput:focus, .cinput-table-search:focus {
  outline-width: 0;
  outline: 0 none;
  outline-color: transparent;
}

/* line 251, ../sass/_m-formularios.scss */
.cinput-search {
  float: left;
  text-overflow: ellipsis;
}

/* line 256, ../sass/_m-formularios.scss */
.cinput-table-search {
  padding: 1.2em 1.2em 1em 2em;
  background-image: url("../img/img-cinput-table-search.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 264, ../sass/_m-formularios.scss */
.cinput-s-arrow {
  background-image: url("../img/toggle-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
