//## AJUSTES DATATABLE ##//
.dataTables_filter {
	padding:17px 20px 10px 0px;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
	padding-right:5px!important;
}

table.dataTable thead .sorting::after, .sorting_asc::after, .sorting_desc::after {
	top:25px;
}

table.dataTable thead .sorting::after {
	content: '';
	background-image: url("../img/ico-order-reset.png");
	background-position: center center;
	background-repeat:no-repeat;
	width:11px;
	height:28px;
}

table.dataTable thead .sorting_asc::after {
	content: '';
	background-image: url("../img/ico-order-asc.png");
	background-position: center center;
	background-repeat:no-repeat;
	width:11px;
	height:28px;

}

table.dataTable thead .sorting_desc::after {
	content: '';
	background-image: url("../img/ico-order-desc.png");
	background-position: center center;
	background-repeat:no-repeat;
	width:11px;
	height:28px;
	
}

//## AJUSTES OWL-CAROUSEL ##//
.owl-carousel .owl-item img {
	width: auto!important;
}

.owl-dots {
	padding-top: 10px;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	background-color:$ccontrast;
	text-align:center;
}

.owl-dots .owl-dot {

	//margin:0 auto;
	margin: 0px 3px;
	width: 14px;
	height:14px;
	border-radius:50em;
	//border:1px solid #000;
	display: inline-block;
	background-color: $c-g20;

}

.owl-dots .owl-dot.active {
	background-color: $cprimary;
}

.owl-nav {
	position: absolute;
	top:30px;
	width:100%;
}

.owl-nav .owl-prev {
	background-image:url("../img/_svg/aleft.svg");
	background-position:center center;
	display:block;
	width:28px;
	height:28px;
	text-indent:-9999px;
	position:absolute;
	left:0px;
}

.owl-nav .owl-next {
	background-image:url("../img/_svg/aright.svg");
	background-position:center center;
	display:block;
	width:28px;
	height:28px;
	text-indent:-9999px;
	position: absolute;
	right:0px;
}

.owl-nav .disabled {
	opacity: .2;
	cursor:disabled;
}

//## AJUSTES AUTOCOMPLETADOR DE PAISES ##//
.adj-txt-country-autoc {
	position:relative;
	top:-5px;
	left:5px;
	display:inline-block;
}

.adj-img-flag-ac {
	position:relative;
	top:2px!important;
}

/*El plugin establece un width dinámico que hay que ajustar a auto para que no de problemas con la parte responsive*/
.easy-autocomplete {
	width:auto!important;
}



