//## FONTS ##//
.fmerriw {
	font-family: 'Merriweather', serif;
}
.fosc {
	font-family: 'Open Sans Condensed', sans-serif;
}

//## HEADER ##//

.header-acc-buttons {
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-96px;
	z-index:20;
}

.cbtn-acc-h {
	display:block;
	width:64px;
	height:64px;
	background-color:$ccontrast;
	margin-top:2px;
}


//## CONTENT ##//

.bg-selected {
	border-top:4px solid $bg-selected;
}

.bg-section {
	background-color:$bg-gray;
}

.bg-highlights {
	background-color:$bg-highlights;
}

.bg-hero-map {
	background-color: $bgmap;
}

.top-filters {
	background-color:$bgfilters;
}

.list-inl{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	list-style-type:none;
}

.item-lin {
	display:inline-block;
}

.leg-region {
	display:inline-block;
	margin-left:10px;
}

.leg-region:before {
	content:'';
	
	width: 11px;
	height:11px;

	display:inline-block;
	float:left;
	margin-right:5px;

	//background-color:#ff0000;

	border-radius:50em;

	position:relative;
	top:3px;

}

.leg-region.leg-r-1:before {
	background-color:#FF3700;
}

.leg-region.leg-r-2:before {
	background-color:#7E85AF;
}

.leg-region.leg-r-3:before {
	background-color:#0C5D8E;
}

.leg-region.leg-r-4:before {
	background-color:#8D9B00;
}

.leg-region.leg-r-5:before {
	background-color:#8B572A;
}

.leg-region.leg-r-6:before {
	background-color:#00B3D7;
}

.leg-region.leg-r-7:before {
	background-color:#BD10E0;
}

//## TABLE DATA ##//

.cover-help {
	width:24px;
	height: 24px;
	text-align:center;
	line-height:29px; //line-height:24px;
	background-color:$cprimbr;
	border-radius:50px;
	display:inline-block;
}

.th-main {
	background-color: $cprimary;
	color:$ccontrast;
	border-bottom:4px solid $cprimbr;
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.20);
}

.ct-th, .ct-td {
	padding: 1em 0.6em;
	border-bottom:1px solid $c-g10;
}

.ct-th {
	border-right:1px solid $cprimbr;
}

.ct-th-st, .ct-td-st {
	display:block;
	font-weight:normal;
}

.flag {
	display:inline-block;
	width:38px;
	height: 38px;

	border-radius:50em;
	
	overflow:hidden;
	margin-right:5px;

	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.30);
}

.flag-md-header {
	@extend .flag;
	width:32px;
	height:32px;
}

.ct-country {
	display:inline-block;
}

.arrow-up {
	
	display:inline-block;

	width: 0; 
	height: 0; 

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid $aup;

	position:relative;
	top:-8px;
}

.arrow-down {
	
	display:inline-block;

	width: 0; 
	height: 0; 

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid $adw;

	position:relative;
	top:-8px;
}

.data-sp {
	position: relative;
	top:-2px;
}

.data-readiness {
	color: $readliness;
}

.data-implementation {
	color:$implementation;
}

.data-impact {
	color:$impact;
}


